<h1>Ivan Alejandro Lopez Martinez ISC 6C</h1>
<!---Este código genera tres líneas de texto en HTML, cada una de las cuales utiliza una variable llamada "fechaActual" para mostrar diferentes formatos de fecha y hora. La primera línea muestra la fecha actual utilizando el formato predeterminado, la segunda línea muestra la fecha completa y la tercera línea muestra la hora actual en un formato específico. Estos formatos son proporcionados por el filtro "date" en AngularJS. -->
<p>Today is {{ fechaActual | date }}</p>
<p>Or if you prefer, {{ fechaActual | date: 'fullDate' }}</p>
<p>The is {{ fechaActual | date: 'h:mm a z' }}</p>
<!-- Este código HTML muestra el valor de la variable "a" como un porcentaje dentro de un párrafo. El filtro "| percent" se utiliza para formatear la variable como un porcentaje. -->
<p>A: {{ a | percent }}</p>

<!-- Este código utiliza una sintaxis de plantillas de Django para formatear números con diferentes especificaciones de formato. En cada línea, un número se pasa a través del filtro "number", que aplica un formato específico al número. El primer número (3.6) se formatea con un solo dígito después del punto decimal, el segundo número (3.6123) se formatea con un mínimo de un y un máximo de dos dígitos después del punto decimal, el tercer número (343.6234) se formatea con un mínimo de cuatro y un máximo de tres dígitos después del punto decimal, y el cuarto número (3.6) se formatea con un solo dígito antes del punto decimal y sin dígitos después del punto decimal. Luego, cada número formateado se muestra dentro de un párrafo HTML. -->
<p>{{ 3.6 | number: '1.0' }}</p>
<p>{{ 3.6123 | number: '1.0-2' }}</p>
<p>{{ 343.6234 | number: '4.0-3' }}</p>
<p>{{ 3.6 | number: '1.0-0' }}</p>
